<<<<<<< HEAD
.about_us-container {
    display: flex;
    justify-content: center;
    height: 20rem;
    background-color: red;
}

.about_us-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_us-header {
    color: white;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    justify-self: center;
    align-self: center;
}

.about_us-description {
    width: 300px;
    display: flex;
    position: relative;
=======
.about-us_container {
    display: flex;
    position: relative;
    height: 20rem;
>>>>>>> 04bbbad0bb1eee0bae01e53dcf3dabb32ad19c71
}