* {
    margin: 0;
    padding: 0;
}

.cards-container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    height: 36rem;
    margin: 0;
    background-color: rgb(37, 37, 37);
}

.card-wrapper {
    display: flex;
    position: absolute;
    grid-column: auto;
    align-content: center !important;
    justify-content: center !important;
}

.card1 {
    display: block;
    position: relative;
    justify-content: center;
    align-self: left !important;
}

.card1 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 500px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    text-align: center;
  }

  .card1 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .card1 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5rem;
  }

  .card1 i{
    font-size: 10rem;
    margin-top: 10rem;
  }
  .card1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }

  .card2 {
    margin: 20px;
    justify-content: center;
    padding: 20px;
    width: 500px;
    min-height: 400px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: all 0.2s;
  }
  .card2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }

  .card2 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .card2 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5rem;
  }

  .card2 i{
    font-size: 10rem;
    margin-top: 10rem;
  }

  .card3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }  

  .card3 {
    margin: 20px;
    justify-content: center;
    padding: 20px;
    width: 500px;
    min-height: 400px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: all 0.2s;
  }

  .card3 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .card3 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5rem;
  }

  .card3 i{
    font-size: 10rem;
    margin-top: 10rem;
  }
  
  @media screen and (max-width: 960px) {

    .cards-container {
      display: block;
      position: relative;
      flex-wrap: wrap-reverse;
      justify-content: center;
      margin: 1rem;
      height: 100rem;
      margin: 0;
      background-color: rgb(37, 37, 37);
  }
    .card-wrapper {
      display: flex;
      overflow-wrap: normal;
      overflow: hidden;
    }
    .card1 {
      display: block;
      width: 300px;
      height: 200px;
    }

    .card1 i {
      margin-top: 3rem;
    }

    .card2 {
      display: block;
      width: 300px;
    }
    .card3 {
      display: block;
      width: 300px;
    }
  }

  
  