* {
    margin: 0;
    padding: 0;
}

.signup-container {
    height: 40rem;
    border-radius: 1px;
    display: flex;
    background-color: rgb(37, 37, 37);
}

.signup-wrapper {
    display: flex;
}

.signup-head h1 ,h2{
    justify-content: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup-btn {
    position: absolute;
    justify-content: right !important;
    display: flex;
}

