* {
    margin: 0;
    padding: 0;
}

.signup-container {
    height: 40rem;
    position: none;
    display: flex;
    background-color: rgb(37, 37, 37);
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 1000vh;
    background-color: rgb(238, 64, 64);
    border-radius: 1rem;
    padding: 2rem;
}

.signup-wrapper {
    text-align: center;
}

.text {
    color: white;
}

.text h1 {
    font-size: 5rem;
}


.signup-head h1 ,h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup-btn {
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 3rem 15px;
    perspective: 1000px;
    z-index: 2;
  }



@media screen and (max-width: 960px){
    
    .box-container {
        width: 40rem;
    }

    .text h1 {
        font-size: 2.5rem;
    }
}
